<%= form_for :estimate, url: edit_estimate_users_admin_path(current_user) do |f| %>
<p>
  <%= f.label :start, 'Start' %><br>
  <%= f.text_field :start %>
</p>

<p>
  <%= f.label :end, 'End' %><br>
  <%= f.text_field :end %>
</p>

<p>
   <%= f.submit %>
</p>

<% end %>
